
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {

  // modify your style here
  // eg: background-color: blue;

  body {
    // margin: 0 auto;
  }

  div.newpage
  {
  	page-break-after: always;
  }

  h1, h2, h3, h4, h5, h6 {
    color:  darkgoldenrod;// #A18B64;
  }
  code {
    color: steelblue;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
  }

  mark {
//    background: #eee;
    // padding: .1em;
    padding-left: .2em;
    padding-right: .2em;
//    color: steelblue;
    border-radius: 3px;
  }

  ol {
    font-weight: bold;
    padding-left: 0.75m;
  }

}
